@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("img/pickture.jpg") no-repeat center center/cover;
  color: #333;
  line-height: 1.6;
}

.container {
  margin-top: 15rem;
}